

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @client.project_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
